html, body{
    background-color:#ebeff5;
}

.reviews-container, .edit-publications{
    width:30%;
    display:flex;
    margin:auto;
    justify-content:space-between;
}

form{
    margin:auto;
}

.nav-item{
    margin-left:40px;
    font-size:1.2em;
}

.review_date{
    position:absolute;
    right:10px;
    top:10px;
}

.review_title{
    margin-top:20px;
    text-align:center;
}

.review-body{
    font-style:italic;
}

.user_review{
    position:relative;
    width:60%;
    margin:auto;
    border:0.5px groove;
    padding:10px 10px;
}

.checked{
    color:orange;
}