html, body{
    background-color:#ebeff5;
}

.reviews-container, .edit-publications{
    width:30%;
    display:flex;
    margin:auto;
    justify-content:space-between;
}

form{
    margin:auto;
}

.nav-item{
    margin-left:40px;
    font-size:1.2em;
}

.checked{
    color:orange;
}

.ticket-overview-description,
.review-overview-description{
    margin-top:50px;
    width:70%;
    text-align:center;
    margin:auto;
    border:solid 0.5px;
}

.ticket-overview-description h2,
.review-overview-description h2{
    font-weight:bold;
    font-size:1.1em;
}

.publication-date{
    position:absolute;
    right:10px;
    top:10px;
}

.response-to-ticket{
    position:absolute;
    right:10px;
    bottom:10px;
}

.main-publication{
    position:relative;
    width:60%;
    margin:auto;
    border:2px solid;
    padding:10px 10px;
    margin-bottom:25px;
    background-color:#FFF5EE;
}

.main-publication-title{
    margin-top:20px;
    text-align:center;
    font-weight:bold;
}

.main-publication-body{
    font-style:italic;
    text-align:center;
}

.secondary-publication{
    position:relative;
    width:80%;
    margin:auto;
    border:0.5px solid;
    padding:10px 10px;
    background-color:#FFDAB9;
}

.secondary-publication-title{
    font-weight:bold;
    text-align:center;
}

.secondary-publication-body{
    font-style:italic;
    text-align:center;
}

.publication-image{
    text-align:center;
}

.publication-cover{
    height:300px;
}