body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("../images/book.jpg");
    color:white;
}

.website-title{
    font-size:3em;
    margin-top:150px;
}

.website-content{
    display:flex;
    flex-direction:column;
    text-align:center;
}

a{
    font-weight:bold;
    color:white;
    text-decoration:underline;
}

.user_card,
.user_card_logout,
.user_card_password_reset{
    margin-bottom: auto;
    background: #80800;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

}

.user_card{
    margin-top:100px;
    width: 350px;
}

.user_card_logout{
    margin-top:auto;
    width: 350px;
}

.user_card_password_reset{
    margin-top:300px;
    width: 450px;
    text-align:center;
}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
}
.login_btn {
    width: 100%;
    background: #33ccff !important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

