body{
    background-color:#ebeff5;
}

form {
    width: 60%;
    margin:auto;
}

.nav-item{
    margin-left:40px;
    font-size:1.2em;
}

h4{
    text-align:center;
    margin-top:20px;
}

.users-list{
    width:30%;
    margin:auto;
    text-align:center;
}

.delete-buttons{
    display:flex;
    justify-content:space-evenly;
}

.delete-warning{
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
}