html, body{
    height:100%;
}

.community_container{
    height:100%;
}

.follow-users, .all_users_list, .following{
    height:20%;
}

.unfollow-user{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:baseline;
    background-color:white;
    padding-left:25px;
    margin-top:7px;
}

.users-list{
    padding-top:5px;
}

body{
    background-color:#ebeff5;
}

form {
    width: 60%;
    margin:auto;
}

.nav-item{
    margin-left:40px;
    font-size:1.2em;
}

h4{
    text-align:center;
    margin-top:20px;
}

.users-list{
    width:30%;
    margin:auto;
    text-align:center;
    background-color:white;
    margin-top:5px;
}

.delete-buttons{
    display:flex;
    justify-content:space-evenly;
}

.delete-warning{
    text-align:center;
    font-size:1.2em;
    font-weight:bold;
}
