{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/accounts_homepage.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>LITReview</title>
</head>

<body>
  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <nav class="col navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="{% url 'homepage' %}">LITReview</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="navbarContent" class="collapse navbar-collapse">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'homepage' %}">Flux</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'edit_publications' %}">Posts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'see_users' %}">Community</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Log out</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="buttons-container">
        <a href="{% url 'add_ticket' %}" class="btn btn-primary" type="submit">Create Ticket</a>
        <a href="{% url 'add_review' %}" class="btn btn-primary" type="submit">Create Review</a>
  </div>
  <br/>

  {% for post in posts %}

      {% if post.content_type == "TICKET" %}
        <div class="main-publication">

          <!-- User's ticket -->

          <p>Your ticket
          <div class="publication-date">{{ post.time_created }}</div>
          <div class="main-publication-title">{{post.title}}</div>
          {% if post.description %}
            <div class="main-publication-body">"{{ post.description }}"</div></p>
          {% else %}
            <div class="main-publication-body">No description</div></p>
          {% endif %}
          <div class="publication-image">
            {% if post.image %}
              <p><img class="publication-cover" src="{{post.image.url}}"></p><br/>
            {% endif %}
          </div>

          {% for response in responses %}
            {% if response.ticket.id == post.id %}

              <!-- Response to user's tickets -->

              <div class="secondary-publication">
                <p>{{ response.user }} posted a review to your ticket:</p>
                <div class="secondary-publication-title"><p>{{ response.headline }} ({{ response.rating }}/5)</p>
                  {% with score=response.rating remaining_points=5|sub:response.rating %}

                      <!-- Yellow Stars added to rating -->

                      {% with ''|center:score as yellow_stars %}
                        {% for _ in yellow_stars %}
                            <span class="fa fa-star checked"></span>
                        {% endfor %}
                      {% endwith %}

                      <!-- Black Stars added to rating -->

                      {% with ''|center:remaining_points as black_stars %}
                        {% for _ in black_stars %}
                          <span class="fa fa-star"></span>
                        {% endfor %}
                      {% endwith %}

                  {% endwith %}
                </div>

                {% if response.body %}
                  <div class="secondary-publication-body"><p>"{{ response.body }}"</p></div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}

        </div>

      {% elif post.content_type == "REVIEW" %}
        <div class="main-publication">

          <!-- Review -->

          <p>Your review</p>
          <div class="publication-date">{{ post.time_created }}</div>

          <div class="main-publication-title">
            <p>{{ post.headline }} ({{ post.rating }}/5)<br/>

            {% with score=post.rating remaining_points=5|sub:post.rating %}

                <!-- Yellow Stars added to rating -->

                {% with ''|center:score as yellow_stars %}
                  {% for _ in yellow_stars %}
                      <span class="fa fa-star checked"></span>
                  {% endfor %}
                {% endwith %}

                <!-- Black Stars added to rating -->

                {% with ''|center:remaining_points as black_stars %}
                  {% for _ in black_stars %}
                    <span class="fa fa-star"></span>
                  {% endfor %}
                {% endwith %}

            {% endwith %}
          </div>

            {% if post.body %}
              <div class="main-publication-body">"{{ post.body }}"</div>
            {% endif %}</p>

          <!-- Initial ticket the review responds to -->

          <div class="secondary-publication">
            Ticket - {{ post.ticket.user }}
            <div class="publication-date">{{ post.ticket.time_created }}</div>
            <div class="secondary-publication-title">{{ post.ticket.title }}</div>

            {% if post.ticket.description %}
              <div class="secondary-publication-body"><p>"{{ post.ticket.description }}"</p></div>
            {% endif %}

            <div class="publication-image">
            {% if post.ticket.image %}
              <p><img class="publication-cover" src="{{post.ticket.image.url}}"></p><br/>
            {% endif %}
            </div>
          </div>

        </div>

      {% elif post.content_type == "UNANSWERED_TICKET" %}
        <div class="main-publication">
          {% if post.user == request.user %}
            Your ticket:
          {% else %}
            {{post.user}} asked for a review:
          {% endif %}
          <div class="publication-date">{{ post.time_created }}</div>
          <div class="main-publication-title">{{post.title}}</div>
          {% if post.description %}
            <div class="main-publication-body">"{{ post.description }}"</div></p>
          {% else %}
            <div class="main-publication-body">No description</div></p>
          {% endif %}
          <div class="publication-image">
            {% if post.image %}
              <p><img class="publication-cover" src="{{post.image.url}}"></p><br/>
            {% endif %}
          </div>
          <div class="response-to-ticket">
            <a href="{% url 'add_review' post.id %}" class="btn btn-primary" type="submit">Create Review</a>
          </div>
        </div>

      {% elif post.content_type == "ANSWERED_TICKET" %}
        <div class="main-publication">
          {{post.user}} asked for a review:
          <div class="publication-date">{{ post.time_created }}</div>
          <div class="main-publication-title">{{post.title}}</div>
          {% if post.description %}
            <div class="main-publication-body">"{{ post.description }}"</div></p>
          {% else %}
            <div class="main-publication-body">No description</div></p>
          {% endif %}
          <div class="publication-image">
            {% if post.image %}
              <p><img class="publication-cover" src="{{post.image.url}}"></p><br/>
            {% endif %}
          </div>
        </div>

      {% elif post.content_type == "FOLLOWED_REVIEW" %}
        <div class="main-publication">
          <p>{{post.user}} posted a new review:
          <div class="publication-date">{{ post.time_created }}</div>
          <div class="main-publication-title">
            <p>{{ post.headline }} ({{ post.rating }}/5)<br/>

            {% with score=post.rating remaining_points=5|sub:post.rating %}

                <!-- Yellow Stars added to rating -->

                {% with ''|center:score as yellow_stars %}
                  {% for _ in yellow_stars %}
                      <span class="fa fa-star checked"></span>
                  {% endfor %}
                {% endwith %}

                <!-- Black Stars added to rating -->

                {% with ''|center:remaining_points as black_stars %}
                  {% for _ in black_stars %}
                    <span class="fa fa-star"></span>
                  {% endfor %}
                {% endwith %}

            {% endwith %}
          </div>

          {% if post.body %}
            <div class="main-publication-body">"{{post.body}}"</div>
          {% endif %}</p>

          <div class="secondary-publication">
            {% if post.ticket.user == request.user %}
                <p>Your ticket</p>
            {% else %}
              <p>Ticket - {{post.ticket.user}}</p>
            {% endif %}
            <div class="publication-date">{{post.time_created}}</div>
            <div class="secondary-publication-title">{{post.ticket.title}}</div>
            {% if post.ticket.description %}
              <p><div class="secondary-publication-body">"{{post.ticket.description}}"</div></p>
            {% endif %}
            <div class="publication-image">
              {% if post.ticket.image %}
                <p><img class="publication-cover" src="{{post.ticket.image.url}}"></p><br/>
              {% endif %}
          </div>
          </div>

        </div>
      {% endif %}
  {% endfor %}

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>