{% extends "blog/main.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="community_container">
    <div class="follow-users">
        <h4>Follow other users</h4>
        <form method="POST" >
            {% csrf_token %}
            {% for field in form %}
                {{field|as_crispy_field}}
                <input class="btn btn-primary" href="{% url 'see_users' %}" type="submit" value="Send" />
            {% endfor %}
        </form>
    </div>

    <div class="following">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <h4>Following</h4>
                <div class="unfollow-users">
                    {% for relation in new_relations %}
                        <div class="unfollow-user">
                            {{ relation.followed_user.username }}
                            <a class="btn btn-danger" href="{% url 'unfollow_user' relation.followed_user.id %}" type="submit">Unfollow</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    <div class="all_users_list">
        <h4>Users</h4>
        {% for user in users %}
            <div class="users-list">{{ user }}</div>
        {% endfor %}
    </div>
</div>

{% endblock %}
