{% extends "blog/main.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h4>Follow other users</h4>

<form method="POST" action="{% url 'see_users' %}">
    {% csrf_token %}
    {% for field in form %}
        {{field|as_crispy_field}}
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Send" />
</form>

<h4>Following</h4>

{% for user in followed_users %}
    <div class="users-list">{{ user }}
    <form action="{% url 'unfollow_user' user.followed_user.id %}" method="POST" >
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Unfollow" />
    </form></div>
{% endfor %}

<h4>Users</h4>

{% for user in all_users %}
    <div class="users-list">{{ user }}</div>
{% endfor %}
