{% extends "blog/main.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h4>Follow other users</h4>

<form method="POST" >
    {% csrf_token %}
    {% for field in form %}
        {{field|as_crispy_field}}
    {% endfor %}
    <input class="btn btn-primary" href="{% url 'see_users' %}" type="submit" value="Send" />
</form>

<h4>Following</h4>

{% for relation in new_relations %}
    <div class="users-list">
    <form action="{% url 'unfollow_user' relation.followed_user.id %}" method="POST" >
        {{ relation.followed_user.username }}
        <input class="btn btn-danger" type="submit" value="Unfollow" />
        {% csrf_token %}
    </form></div>
{% endfor %}

<h4>Users</h4>

{% for user in users %}
    <div class="users-list">{{ user }}</div>
{% endfor %}

{% endblock %}
