{%  extends 'blog/main.html' %}
{% load static %}
{% block content %}

<br/>
<br/>

<div class="delete-warning">
    <p>Are you sure you want to delete this review ?</p>
    <div class="delete-buttons">
        <a class="btn btn-warning" href="{% url 'edit_reviews' %}">Cancel</a>
        <a class="btn btn-danger" href="{% url 'confirm_delete_review' review.id %}">Confirm</a>
    </div>
    <div class="review-description">
        {% if review.body %}
            <h2>{{ review.headline }}</h2>
            <p>"{{ review.body }}"</p>
        {% else %}
            <p>"{{ review.headline }}"</p>
        {% endif %}
    </div>
</div>

{% endblock %}