{% extends "blog/main.html" %}

{% block content %}

<div class="edit-tickets">
    <br/>
    <br/>
    <p><a class="btn btn-primary" href="{% url 'edit_publications' %}">< Previous</a></p>
    <h1>My tickets</h1><br/>
    {% for ticket in user_tickets %}
        <div class="my-ticket">
            {{ ticket.title }}
            <div class="edit-warnings">
                <a href="{% url 'edit_ticket' ticket.id %}" class="btn btn-warning" type="submit">Edit</a>
                <a href="{% url 'delete_ticket' ticket.id %}" class="btn btn-danger" type="submit">Delete</a>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
