{% extends "blog/main.html" %}

{% block content %}

<br/>
<br/>
<div class="buttons-container">
	<a class="btn btn-primary" href="{% url 'edit_tickets' %}">My Tickets</a>
	<a class="btn btn-primary" href="{% url 'edit_reviews' %}">My Reviews</a>
</div>
<br/>

{% for publication in user_publications %}

    {% if publication in user_reviews %}
        <div class="main-publication">
            <p>Your review
            <div class="publication-date">{{ publication.time_created }}</div>
            <div class="main-publication-title">{{publication.headline}}</div></p>
            <div class="publication-image">
                {% if publication.ticket.image %}
                    <img class="publication-cover" src="{{publication.ticket.image.url}}"></p>
                {% endif %}
            </div>
            {% if publication.body %}
                <div class="main-publication-body">"{{ publication.body }}"</div></p>
            {% else %}
                <div class="main-publication-body">No description</div></p>
            {% endif %}
            <div class="edit-warnings">
                <a href="{% url 'edit_review' publication.id %}" class="btn btn-warning" type="submit">Edit</a>
                <a href="{% url 'delete_review' publication.id %}" class="btn btn-danger" type="submit">Delete</a>
            </div>
        </div>


    {% elif publication in user_tickets%}

        <div class="main-publication">
            <p>Your ticket
            <div class="publication-date">{{ publication.time_created }}</div>
            <div class="main-publication-title">{{publication.title}}</div>
            {% if publication.description %}
                <div class="main-publication-body">"{{ publication.description }}"</div></p>
            {% else %}
                <div class="main-publication-body">No description</div></p>
            {% endif %}
            <div class="publication-image">
                {% if publication.image %}
                    <p><img class="publication-cover" src="{{publication.image.url}}"></p><br/>
                {% endif %}
          </div>
            {% if publication in commented_tickets %}
                <div class="edit-warnings">
                    <a href="{% url 'edit_ticket' publication.id %}" class="btn btn-warning" type="submit">Edit</a>
                    <a href="{% url 'delete_ticket' publication.id %}" class="btn btn-danger" type="submit">Delete</a>
                </div>
            {% elif publication in uncommented_tickets %}
                <div class="edit-warnings">
                    <a href="{% url 'edit_ticket' publication.id %}" class="btn btn-warning" type="submit">Edit</a>
                    <a href="{% url 'add_review' publication.id %}" class="btn btn-primary" type="submit">Create Review</a>
                    <a href="{% url 'delete_ticket' publication.id %}" class="btn btn-danger" type="submit">Delete</a>
                </div>
            {% endif %}
        </div>

    {% endif %}

{% endfor %}

{% endblock %}