{%  extends 'blog/main.html' %}
{% load static %}
{% block content %}

<br/>

<div class="row">
	<div class="col-4"></div>
	<div class="col-4 delete-warning">
	<p>Are you sure you want to unfollow "{{followed_user}}"?</p>

	<form action="" method="POST">

		{% csrf_token %}
		<div class="delete-buttons">
			<a class="btn btn-warning" href="{% url 'see_all_users' %}">Cancel</a>
			<input class="btn btn-danger" href="" type="submit" name="Confirm">
		</div>
	</form>
	</div>
	<div class="col-4"></div>
</div>

{% endblock %}